.mainvideo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thegame {
  width: 100%;
  left: 0;
  width: 100%;
}

.hero-container {
  padding-top: 10%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  background-size: cover;
  color: #fff;
  background-repeat: repeat-x;
  font-family: 'Courier New', Courier, monospace;
}


.hero-container h1 {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  font-size: 50px;
  opacity: 0;
  transform: translate3d(0, 0, 0);
  animation: ani2 5s ease-out 1s forwards;
}

.hero-container h3 {
  font-size: 20px;
  padding-top: 1%;
  opacity: 0;
  animation: ani2 4s ease-out 2s forwards;
}

.tech{
  max-width: 80%;
  margin: 0 auto; /* this for center div */
  text-align: center;

}
.tech p {
  font-size: 20px;
  opacity: 0;
  display: inline;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
  }
  .tech {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  .hero-container > p {
  font-size: 20px;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
  }
  .btn {
    width: 100%;
  }
  .banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
  }

}

.p1{
  animation: ani2 0.5s ease-out 2.7s forwards;
}
.p2{
  animation: ani2 0.5s ease-out 3.5s forwards;
}
.p3{
  animation: ani2 0.5s ease-out 4s forwards;
}
.p4{
  animation: ani2 0.5s ease-out 4.6s forwards;
}
.p5{
  animation: ani2 0.5s ease-out 5.1s forwards;
}
.p6{
  animation: ani2 0.5s ease-out 5.4s forwards;
}
.p7{
  animation: ani2 0.5s ease-out 5.9s forwards;
}
.p8{
  animation: ani2 0.5s ease-out 6.5s forwards;
}
.p9{
  animation: ani2 0.5s ease-out 6.8s forwards;
}

@keyframes type{
  from {
    width: 0;
  }
}

.hero-btns {
  opacity: 0;
  margin-top: 5%;
  animation: ani2 0.5s ease-out 4s forwards;
}

.hero-btns .btn {
  margin: 6px;
  background: #fff;
}

.fa-play-circle {
  margin-left: 4px;
}

